body {
    margin: 0px;
    padding: 0px;
}

h1 {
    justify-self: center;
    font-family: "Roboto Mono", monospace;
    font-size: 32.7vw;
    /* line-height: 1; */
    margin: 0px;
    text-align: center;
}

h2 {
    font-size: 120%;
    margin: 1em;
}

.columnContainer {
    display: inline-flex;
    flex-direction: row;
}

.column {
    display: inline-flex;
    flex-direction: column;
    margin-left: 1em;
}

.bindToVW {
    font-size: 4vw;
}
.bindToVH {
    font-size: 4vh;
}
